<div id="results" style='padding-top: 30px'>
  <% if units && total_cost_in_rand %>
    <p class="description">For R<%=total_cost_in_rand %>, you will get approximately <%= units.round %> units.</p>
  <% end %>
</div>
